# API Configuration
NEXT_PUBLIC_API_URL=https://dax-issuer-dev.vindas.io/api/v1

API_TIMEOUT=10000

# Sitemap Configuration
SITE_URL=https://yourdomain.com

#development, production
NEXT_PUBLIC_APP_ENV=development

# Strapi
NEXT_PUBLIC_STRAPI_URL=http://localhost:1337

# Preview (must match PREVIEW_SECRET in strapi-cms/.env)
PREVIEW_SECRET=your-secret-key